---
- hosts: 127.0.0.1
  connection: local
  tasks:
  - name: Creación de la base de datos
    mysql_db: name=prestashopdb state=present collation=utf8_general_ci
  - name: Creación del usuario de la base de datos
    mysql_user: name=prestashopuser password=prestashop priv="prestashopdb.*:ALL" host=127.0.0.1
  - name: Descarga de prestashop
    get_url:
      url: https://download.prestashop.com/download/releases/prestashop_1.7.4.2.zip
      dest: /tmp
  - name: Descomprimimos los ficheros
    unarchive:
      src: /tmp/prestashop_1.7.4.2.zip
      dest: /tmp
  - name: Descomprimimos los ficheros
    unarchive:
      src: /tmp/prestashop.zip
      dest: /var/www/html/fjprestashop
      owner: www-data
      group: www-data
  - name: Instalacion con script php
    command: php /var/www/html/fjprestashop/install/index_cli.php --domain=www.fjprestashop.com --db_server=127.0.0.1 --db_name=prestashopdb --db_user=prestashopuser --db_password=prestashop --theme=classic --language=es --email=prueba@prestashop.com --first-name=test --second-name=test
  - name: Cambiamos permisos prestashop
    file:
      dest: /var/www/html/fjprestashop
      owner: www-data
      group: www-data
      recurse: yes
    notify:
      - restart apache

  handlers:
    - name: restart apache
      service: name=apache2 state=restarted
